#card-list-saved {
    list-style: none;
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 1048px;
    margin-left: 75px;
}

#left-body-column-saved {
    width: 15%;
}

#right-body-column-saved {
    width: 85%;
}

#left-column-saved{
    width: 80%;
}

#right-column-saved {
    width: 20%;
}

#card-h4-saved {
    margin-left: 0px;
}