h1 {
    text-align: center;
}

h6 {
    margin-left: 30px;
    margin-right: 30px;
}

.form-control {
    width: 1048px;
    margin-left: 30px;
}

#book-form {
    height: 190px;
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: #e9ecef;
    margin-bottom: 32px;
}

#submit-button {
    margin-left: 600px;
    text-align: center;
    
}